name: Deploy

on:
  workflow_dispatch:
    inputs:
      Region:
        description: 'Region'
        default: 'us-east-1'
        required: true
        type: string

jobs:
  Deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Environment
        run: |
          echo "The code is being deployed in Prod"

      - name: Region Check
        run: |
          echo "${{ github.event.inputs.Region }}"

      - name: Deployment Check Failed
        if: github.ref_type != 'tag'
        run: |
          echo "Please select a tag for the deployment"
          exit 1
      - name: Deployment Check Passed
        if: github.ref_type == 'tag'
        run: |
          echo "Code will be deployed from the tag ${{ github.ref }}"
          exit 0
          
      

